.flat-details {
  font-size: 20px;
  padding-left: 20px;
}

.li-no-bullets {
  list-style-type: none;
}

.placeholder {
  background: image-url('placeholder.jpg');
  width: 150px;
}

.padding-spacing {
  padding-top: 80px;
  p {
    padding-bottom: 30px;
  }
}
