<h1 class="text-center">Flats</h1>
<div class="container">
  <div class="row">
      <% @flats.each do |flat| %>
    <div class="col-xs-2"><p><%= flat.title %></p>
    <img class="placeholder" src="http://placehold.it/150x150">
    <p><%= flat.price %>€ per night</p>
    <p><%= link_to "View flat", flat_path(flat) %></p>
    </div>
  <% end %>


  </div>
</div>




