  <div id="footer">
      <div class="container"><!--
        <p class="text-muted credit">Contacts <a href="http://www.sylviebrisset.com/">Mary</a>,<a href="http://www.lewagon.org/">Katy</a> and <a href="http://www.lewagon.org/">Paulin</a></p> -->
        <ul class="list-inline text-center">
          <li><i class="fa fa-facebook-official"></i></li>
          <li><i class="fa fa-twitter"></i></li>
          <li><i class="fa fa-youtube"></i></li>
          <li>Contact us</li>
        </ul>
      </div>
    </div>
