  <div id="footer" class="site-footer">
      <div class="container"><!--
        <p class="text-muted credit">Contacts <a href="http://www.sylviebrisset.com/">Mary</a>,<a href="http://www.lewagon.org/">Katy</a> and <a href="http://www.lewagon.org/">Paulin</a></p> -->
        <ul class="list-inline text-center">
          <li><a href="https://www.facebook.com/lewagonformation/"><i class="fa fa-facebook-official"></i></a></li>
          <li><a href="https://twitter.com/lewagonparis"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UChCDYcBCrb8tuPAO6e0P-Hw"><i class="fa fa-youtube"></i></a></li>
          <li><a href="http://www.lewagon.org/">Contact us</a></li>
        </ul>
      </div>
    </div>

