
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Contacts <a href="http://www.sylviebrisset.com/">Mary</a>,<a href="http://www.lewagon.org/">Katy</a> and <a href="http://www.lewagon.org/">Paulin</a></p>
      </div>
    </div>
<!-- on the body > .container -->
