
<div class="row text-center">
  <h1>HOME</h1>
</div>

<div class="row text-center">
  <h2>Welcome on our website</h2>
</div>

<div class="homepage-hero-module">

    <div class="video-container">
      <div class="filter"></div>
       <%= video_tag "birds/birds.mp4" %>
       <video height="16" src="/trailers/hd.avi" width="16"></video>
        <video height="32" src="/trailers/hd.avi" width="32"></video>
</div>

</div>
